.bg-container-img {
  background-image: url("../../../images/Mask Group 2.png");
  background-repeat: no-repeat;

  background-position: center center;
  position: relative;
  color: white;
  padding-top: 2.5rem;
}

.bg-container-img::before {
  content: "";
  background-color: black;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
